html,body{
        margin: 0;
        height: 100%;
        min-width: 800px;
    }
.home{
    width:100%;
    background-color:#2a2c3b
}
.home-head{
    font-size:0
}
.home-head-data{
    display:inline-block;
    width:calc(41% - 10px);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:30px;
    background-color:#3b3e54;
    vertical-align:middle
}
.lg-width{
    width:47%
}
.home-head-data ul{
    list-style:none;
    margin:0;
    padding:0
}
.home-head-data ul li{
    display:inline-block;
    height:110px;
    padding:25px 15px;
    font-size:14px;
    cursor:pointer;
    color:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.home-head-chart{
    width:calc(59% - 10px)!important;
    height:310px;
    vertical-align:middle
}
.home-head-chart .el-input__inner,.home-head-chart .el-range-input{
    background-color:#3b3e54;color:#fff
}
.el-range-separator{
    color:#fff!important
}
.home-head-data-label{
    color:#fff
}
.home-head-data-content{
    display:block;
    color:#fff;
    font-size:38px;
    text-align:right
}
.home-center{
    margin-top:20px
}
.home-center-table{
    background-color:#3b3e54
}
.home-center .el-table .table-style{
    background-color:#3b3e54;
    color:#fff;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap;
    border-color:#666
}
.home-center .el-table .table-style:hover{
    color:#333
}
.el-table,.el-table__body-wrapper,.el-table table,.el-table tbody,.el-table td,.el-table th,.el-table tr{
    border-color:#666!important
}
.el-table--border:after,.el-table--group:after,.el-table:before{
    background-color:#666!important
}
.home-center .el-table .name-wrapper{
    width:100%;
    height:100%;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis!important;
    white-space:nowrap!important
}
.home-center .el-table .el-table__empty-block{
    background-color:#3b3e54
}
.home-foot{
    margin-top:20px;
    font-size:0
}
.home-foot-box{
    display:inline-block;
    width:calc(50% - 10px);
    padding-bottom:20px;
    background-color:#3b3e54;
    font-size:14px;
    color:#fff;
    vertical-align:top
}
.home-foot-box,.home-foot-box-nav{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.home-foot-box-nav{
    width:100%;
    height:50px;
    line-height:50px;
    margin-left:15px;
    padding-right:15px;
    overflow:hidden
}
.home-foot-box-nav .left{
    float:left;
    width:50%
}
.home-foot-box-nav .left .line{
    display:inline-block;
    width:3px;
    height:14px;
    margin-right:12px;
    background-color:#2196f3;
    vertical-align:middle
}
.home-foot-box-nav .right{
    float:right;
    width:50%;
    text-align:right;
    cursor:pointer
}
.home-foot-box-content ul{
    padding:0;
    margin:0;
    list-style:none
}
.home-foot-box-content .item{
    border-bottom:1px solid #999;
    overflow:hidden;
    line-height:28px;
    padding:12px 30px
}
.home-foot-box-content .item .left{
    float:left
}
.home-foot-box-content .item .right{
    float:right;
    text-align:right;
    overflow:hidden
}
.home-foot-box-content .item .block-number{
    display:inline-block;
    width:116px;
    overflow:hidden;
    text-overflow:ellipsis!important;
    white-space:nowrap!important;
    vertical-align:middle
}
.home-foot-box-content .item .txn{
    float:right;
    width:70px;
    height:28px;
    line-height:28px;
    background-color:#2196f3;
    color:#fff;
    text-align:center;
    cursor:pointer
}
.home-foot-box-content .item .transaction{
    width:320px
}
.home-foot-box-content .item .transaction,.home-foot-box-content .number{
    overflow:hidden;
    text-overflow:ellipsis!important;
    white-space:nowrap!important;
    vertical-align:middle
}
.home-foot-box-content .number{
    display:inline-block;
    width:148px
}
.home-foot-box-content .image{
    vertical-align:middle
}
table{
    border-color:#999!important
}
.node-false{
    color:red!important
}
@media screen and (max-width:1200px){
    .home-head-data{
        display:inline-block;
        width:calc(41% - 10px);
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding:20px;
        background-color:#3b3e54;
        vertical-align:middle
    }
    .home-head-data-content{
        display:block;
        color:#fff;
        padding-top:10px;
        font-size:28px;
        text-align:right
    }
    .home-head-chart{
        width:calc(59% - 10px)!important;
        height:290px;
        vertical-align:middle
    }
    .home-foot-box-content .item{
        border-bottom:1px solid #999;
        overflow:hidden;
        line-height:28px;
        padding:12px 20px
    }
    .home-foot-box-content .item .transaction{
        width:280px
    }
    .home-foot-box-content .item .transaction,.home-foot-box-content .number{
        overflow:hidden;
        text-overflow:ellipsis!important;
        white-space:nowrap!important;
        vertical-align:middle
    }
    .home-foot-box-content .number{
        display:inline-block;
        width:130px
    }
}
@media screen and (max-width:1000px){
    .home-head-data{
        display:inline-block;
        width:calc(41% - 10px);
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding:10px;
        background-color:#3b3e54;
        vertical-align:middle
    }
    .home-head-chart{
        width:calc(59% - 10px)!important;
        height:270px;
        vertical-align:middle
    }
    .home-head-data-content{
        display:block;
        color:#fff;
        padding-top:10px;
        font-size:24px;
        text-align:right
    }
    .home-head-data ul li{
        display:inline-block;
        height:110px;
        padding:25px 10px;
        font-size:14px;
        cursor:pointer;
        color:#fff;
        -webkit-box-sizing:border-box;
        box-sizing:border-box
    }
    .home-foot-box-content .item{
        border-bottom:1px solid #999;
        overflow:hidden;
        line-height:28px;
        padding:12px 20px
    }
    .home-foot-box-content .item .transaction{
        width:200px
    }
    .home-foot-box-content .item .transaction,.home-foot-box-content .number{
        overflow:hidden;
        text-overflow:ellipsis!important;
        white-space:nowrap!important;
        vertical-align:middle
    }
    .home-foot-box-content .number{
        display:inline-block;
        width:85px
    }
    .home-foot-box-content .item .txn{
        float:right;
        width:70px;
        height:28px;
        line-height:28px;
        background-color:#2196f3;
        color:#fff;
        text-align:center;
        cursor:pointer
    }
}
.content-nav{
    width:100%;
    height:34px;
    overflow:hidden;
    color:#fff
}
.content-nav .title{
    float:left;
    font-size:16px
}
.content-nav .content{
    float:right;
    font-size:14px
}
.hash-content-info-tran[data-v-4415af24]{
    background-color:#2a2c3b;
    color:#fff;
    font-size:14px
}
.hash-content-info-tran .box[data-v-4415af24]{
    width:100%;
    padding:20px 40px
}
.hash-content-info-tran .content[data-v-4415af24]{
    width:100%;
    border-top:1px solid #999;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#3b3e54
}
.hash-content-info-tran .content .title[data-v-4415af24]{
    border-bottom:1px solid #999;
    line-height:40px;
    padding-top:20px;
    padding-left:20px
}
.hash-content-info-tran .pre[data-v-4415af24]{
    white-space:pre-wrap!important;
    word-wrap:break-word!important;
    width:calc(100% - 50px)!important;
    font-size:14px;
    line-height:24px
}
.hash-content-label[data-v-4415af24]{
    padding:5px 30px
}
.hash-content-label>.label-title[data-v-4415af24]{
    display:inline-block;
    width:120px;
    text-align:left;
    padding-right:10px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    vertical-align:top;
    color:#111
}
.hash-content-label>.receit-content[data-v-4415af24]{
    display:inline-block;
    width:calc(100% - 300px);
    max-width:950px;
    white-space:pre-wrap!important;
    word-wrap:break-word!important;
    border:none
}
.label-content[data-v-4415af24]{
    display:inline-block;
    width:calc(100% - 300px);
    max-width:950px;
    height:auto;
    padding:10px;
    border:1px solid #eaedf3;
    border-radius:4px;
    font-size:12px
}
.input-data[data-v-4415af24]{
    display:inline-block;
    width:100%;
    overflow:auto;
    word-break:break-all;
    word-wrap:break-word;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.input-data>.item[data-v-4415af24]{
    padding:5px 0;
    font-size:12px
}
.input-data>.item>.label[data-v-4415af24]{
    display:inline-block;
    color:#111;
    font-weight:700;
    width:80px;
    font-size:12px;
    vertical-align:top
}
.input-label[data-v-4415af24]{
    padding-bottom:15px
}
.input-label>.label[data-v-4415af24]{
    display:inline-block;
    color:#111;
    font-weight:700;
    width:80px;
    font-size:12px;
    vertical-align:top
}
.detail-input-content[data-v-4415af24]{
    display:inline-block;
    height:auto;
    border-radius:4px;
    font-size:12px
}
.tranbox[data-v-4415af24]{
    margin:20px 30px;
    background-color:#fff;
    color:#42b983
}
.content[data-v-4415af24] .is-top{
    color:#fff
}
.content[data-v-4415af24] .is-active{
    color:#409eff
}
.content[data-v-4415af24] #tab-first{
    padding-left:15px
}
.content[data-v-4415af24] #tab-second{
    padding-left:30px
}
.content[data-v-4415af24] .el-tabs__active-bar{
    padding-left:20px
}
.content[data-v-a36316e4] .jv-code{
    max-height:none
}
.jv-container {
  box-sizing: border-box;
  position: relative;
}
.jv-container.boxed {
    border: 1px solid #eee;
    border-radius: 6px;
}
.jv-container.boxed:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    position: relative;
}
.jv-container.jv-light {
    background: #fff;
    white-space: nowrap;
    color: #525252;
    font-size: 14px;
    font-family: Consolas, Menlo, Courier, monospace;
}
.jv-container.jv-light .jv-ellipsis {
    color: #999;
    background-color: #eee;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    margin: 0 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
}
.jv-container.jv-light .jv-button {
    color: #49b3ff;
}
.jv-container.jv-light .jv-key {
    color: #111111;
    margin-right: 4px;
}
.jv-container.jv-light .jv-item.jv-array {
    color: #111111;
}
.jv-container.jv-light .jv-item.jv-boolean {
    color: #fc1e70;
}
.jv-container.jv-light .jv-item.jv-function {
    color: #067bca;
}
.jv-container.jv-light .jv-item.jv-number {
    color: #fc1e70;
}
.jv-container.jv-light .jv-item.jv-object {
    color: #111111;
}
.jv-container.jv-light .jv-item.jv-undefined {
    color: #e08331;
}
.jv-container.jv-light .jv-item.jv-string {
    color: #42b983;
    word-break: break-word;
    white-space: normal;
}
.jv-container.jv-light .jv-code .jv-toggle:before {
    padding: 0px 2px;
    border-radius: 2px;
}
.jv-container.jv-light .jv-code .jv-toggle:hover:before {
    background: #eee;
}
.jv-container .jv-code {
    max-height: 300px;
    overflow: hidden;
    padding: 20px;
}
.jv-container .jv-code.open {
    max-height: initial;
    overflow: visible;
    overflow-x: auto;
    padding-bottom: 45px;
}
.jv-container .jv-toggle {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE2IiB3aWR0aD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIAo8cG9seWdvbiBwb2ludHM9IjAsMCA4LDggMCwxNiIKc3R5bGU9ImZpbGw6IzY2NjtzdHJva2U6cHVycGxlO3N0cm9rZS13aWR0aDowIiAvPgo8L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    display: inline-block;
    transition: transform 0.1s;
}
.jv-container .jv-toggle.open {
    transform: rotate(90deg);
}
.jv-container .jv-more {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.jv-container .jv-more .jv-toggle {
    position: relative;
    top: 40%;
    z-index: 2;
    color: #888;
    transition: all 0.1s;
    transform: rotate(-90deg);
}
.jv-container .jv-more:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(230, 230, 230, 0.3) 100%);
    transition: all 0.1s;
}
.jv-container .jv-more:hover .jv-toggle {
    top: 50%;
    color: #111;
}
.jv-container .jv-more:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(230, 230, 230, 0.3) 100%);
}
.jv-container .jv-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    z-index: 5;
}
.jv-container .jv-button.copied {
    opacity: 0.4;
    cursor: default;
}
.jv-container .jv-tooltip {
    position: absolute;
    right: 15px;
    top: 10px;
}
.jv-container .j-icon {
    font-size: 12px;
}
.jv-node {
    position: relative;
}
.jv-node:after {
    content: ',';
}
.jv-node:last-of-type:after {
    content: '';
}
.jv-node .jv-node {
    margin-left: 25px;
}
img[data-v-046e85b0]{
    width:100%
}
a[data-v-046e85b0]{
    color:#3498db;
    text-decoration:none
}
a[data-v-046e85b0]:active,a[data-v-046e85b0]:hover,a[data-v-046e85b0]:link,a[data-v-046e85b0]:visited{
    color:#3498db
}
a {
    color: black;
    text-decoration: none;
}